
.hero {
    color: white;
    font-family: 'Montserrat';
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(left, #2EE1F6, #F62ED2);
    background-image: -moz-linear-gradient(left, #2EE1F6, #F62ED2);
    background-image: -ms-linear-gradient(left, #2EE1F6, #F62ED2);
    background-image: -o-linear-gradient(left, #2EE1F6, #F62ED2);
    background-image: linear-gradient(left, #2EE1F6, #F62ED2);
    background-image: url('https://cdn.pixabay.com/photo/2015/03/26/10/07/young-690958_960_720.jpg');
    background-repeat: no-repeat;
    background-position: 75% center;
    background-size: cover;
    padding: 85px 15px 90px 15px;
  }
  @supports (background-blend-mode: multiply) {
    .hero {
      background-image: linear-gradient(to right, #2EE1F6, #F62ED2 80%), url(https://cdn.pixabay.com/photo/2015/03/26/10/07/young-690958_960_720.jpg);
      /* black/white image */
      background-blend-mode: multiply;
    }
  }
  .live-text-header {
    font-size: 115px;
    line-height: 110px;
  }
  .live-text {
    font-size: 26px;
    letter-spacing: 1px;
  }
  .btn-group {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .btn-group .btn {
    background: #000000;
    margin: 0 12px;
  }
  .btn-group .btn:hover a {
    color: #F62ED2;
  }
  .btn-group a {
    color: #6A9FE6;
    display: block;
    font-family: 'News Cycle';
    font-size: 18px;
    font-weight: 700;
    padding: 15px 40px;
    text-decoration: none;
    transition: -webkit-color 0.5s ease;
    transition: -moz-color 0.5s ease;
    transition: -ms-color 0.5s ease;
    transition: -o-color 0.5s ease;
    transition: color 0.5s ease;
  }
  