$color: #336699;
$breakpoint: 768px;


img {
  max-width: 100%;
}


.buy-grid {
  @media (min-width: $breakpoint) {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 20rem;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  grid-template-areas: 
    "hero-image header"
    "hero-image selection"
    "hero-image specs"
}
  }

header {
  padding-bottom: 3rem;
  grid-area: header;
  
  h1 {
    margin: 0;
  }
}


.hero-image-wrapper {
  grid-area: hero-image;
  height: 100%;
}


.hero-image-element {
  @media (min-width: $breakpoint) {
  position: sticky;
  top: 0;
  left: 0;
  }
}

.selection {
  grid-area: selection;
  padding-bottom: 3rem;
  padding-left: 10%;
}


.selection-row {
  padding-bottom: 2rem;
}

.swatch {
  width: 36px;
  height: 36px;
  background-color: #ededed;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}


.btn-primary {
  
  background: $color;
  width: 50%;
  display: block;
  
}

.swatch.color {
  background-color: $color;

  &:nth-of-type(2) {
    background-color: darken($color, 10%);
  }

  &:nth-of-type(3) {
    background-color: darken($color, 15%);
  }
  &:nth-of-type(4) {
    background-color: darken($color, 20%);
  }
  &:nth-of-type(5) {
    background-color: darken($color, 25%);
  }
}

.specs-table {
  padding-bottom: 3rem;
}

.specs-table-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
}

.spec-table-label {
  font-weight: 700;
}

.spec-table-description {
  color: #999;
}

.callout img {
  width: 100%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: black;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: black;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: white;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: black;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.comment{
  padding-left: 10%;

  width:90%;
}
.toast-container {
  width: 90%;
  max-width: 580px;
  margin: 0 auto;
}

[class*="toast-pos-"] {
  position: absolute;
  padding: 10px;
}

.toast-pos-top {
  top: 0;
}

.toast-pos-right {
  right: 0;
}

.toast-pos-bottom {
  bottom: 0;
}

.toast-pos-left {
  left: 0;
}

.toast {
  display: none;
  padding: 20px;
  margin: 20px 0;
  background: black;
  color: #333333;
}

.close-toast {
  float: right;
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

/* Aditional Styles */

.toast-trigger {
  color: black;  
}

.toast {
  background: rgba(0, 0, 0, 0.5);
  color: black;
}

.toast-trigger {
  display: inline-block;
  top: 50%;
  left: 50%;
  margin: 10px;
  padding: 20px 40px;
  background: transparent;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  transition: ease .2s;
}

.toast-trigger:hover {
  background: black;
  color: white;
}

/////////////////////////////////////////
.toast-trigger1{
  color: black;  
}

.toast {
  background: rgba(0, 0, 0, 0.5);
  color: black;
}

.toast-trigger1 {
  display: inline-block;
  top: 50%;
  left: 50%;
  margin: 10px;
  padding: 20px 40px;
  background: transparent;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  transition: ease .2s;
}

.toast-trigger1:hover {
  background: black;
  color: white;
}


/////////
.Shipping-Info{
  float: left;
  width: 40%;
  text-align:left;
  margin-left: 13%;
}
.ship-info{
  font-family: "Mr Eaves XL Modern", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight:bold;
  width: 50%;

}
.ship-detail{
  font-size: 13px;
  line-height: 25px;
}
hr{
  border: 0.5px solid lightgray;
}
@media (max-width: $desktop-breakpoint) {

  .Shipping-Info{
      float: none;
      width: 82%;
      margin-left: 0;
      margin: auto;


      
  }
}