@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);
.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
  }
  .inner-hero {
    background-image: url('https://images.unsplash.com/photo-1491451231005-ec20221dd520?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38fb233251b0752fd44f76357c3b0cd8&auto=format&fit=crop&w=1500&q=80');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .hero-heading {
    display: flex;
    text-align: center;
    color: white;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  }
  .statement {
    display: flex;
    color: white;
    opacity: .6;
    letter-spacing: .1em;
  }
  @media only screen and (max-width: 790px) {
      .hero-heading {
          font-size: 50px;
      }
    .statement {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 500px) {
      .hero-heading {
          font-size: 30px;
      }
    .statement {
      font-size: 14px;
    }
  }