.animal-banner{
    width: 90vw;
    height: 70vh;
    margin: auto;
    background-image:url(https://cdn1.imggmi.com/uploads/2019/10/31/80c92b84a59a76c796035c296c8ccbc9-full.png);
    background-size: cover;
    background-position: top;
    border: 1px solid black;
    margin-top: 2%;
}